//Variables
$primary_color:#444;
$secondary_color:#eece1a;
$font_weight: 400;
$size_heading:6rem;
$small_heading:2rem;
$header_z_index:2;
$overlay_z_index:-1;
$main_height:100%;
$main_icons_margin:1rem;
$main_icons_link_padding:0.4rem;
$show_home_image:true;
$home_image:url('../img/background.jpg');
$background_opacity:0.9;

@mixin easeOut {

    transition:all 0.5s ease-out;
    
}

@mixin background_image {
    @if $show_home_image{
        &#bg-image{
            background: $home_image;
            background-attachment: fixed;
            background-size: cover;
            &:after{
                content:'';
                position: absolute;
                z-index: $overlay_z_index;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0,0,0, $background_opacity);
            }
        }
    }
}

//all media query rules

@mixin mediaSm {
    @media screen and(max-width:568px){
        @content;
    }
    
}

@mixin mediaMd {
    @media screen and(max-width:768px){
        @content;
    }
    
}

@mixin mediaLg {
    @media screen and (min-width:769px) and (max-width:1170px){
        @content;
    }
    
}

@mixin mediaXl {
    @media screen and(min-width:1171px){
        @content;
    }
    
}