//widescreen
@include mediaXl{
    .projects{
        grid-template-columns: repeat(4,1fr);
    }

}

//Desktop and laptop
@include mediaLg{
    .projects{
        grid-template-columns: repeat(3,1fr);
    }

}


//Tablets and Small laptop
@include mediaMd{

    main{
        text-align: center;
        align-items: center;
        padding: 2rem;
        

        
    
    }

    ul.menu-nav{
        height: 70vh;
        transform: translate3d(0, 100%, 0);
    }
    div.menu-branding{
        height: 30vh;
        transform: translate3d(600px, 0, 0);
        .portrait{
            background: url('../img/heritier2-small.jpg');
            width: 150px;
            height: 150px;
            background-position: center 24%;
        }
    }

    div.menu-branding, ul.menu-nav{
        float: none;
        width: 100%;
        &.show{
            transform: translate3d(0,0,0)
        }
    }

    .about-info{
        grid-template-areas:
        'bioimage'
        'bio'
        'job1'
        'job2'
        'job3';

        grid-template-columns: 1fr;
    }

    .projects{
        grid-template-columns: repeat(2,1fr);
    }
    
}


//Smartphone
@include mediaSm{
   
    main{
        text-align: center;
        align-items: center;
        padding: 2rem;

        .lg-heading{
            line-height: 1;
            margin-bottom: 1rem;
        }

        h1,
        h2,
        h3{
            margin: 0;
            &.lg-heading{
                font-size: $size_heading - 3rem;
            }
        }

        .projects{
            grid-template-columns: 1fr;
        }

       
    }

    div.menu-branding{
        height: 40vh;

        .portrait{
            background: url('../img/heritier2-small.jpg');
            width: 150px;
            height: 150px;
            background-position: center 24%;
        }
        
    }
    ul.menu-nav{
        height: 60vh;
        
    }
}

