@import 'config';
@import 'menu';


*{
    box-sizing: border-box;
}

body{
    @include background_image();
    background:$primary_color;
    height: 100%;
    margin: 0;
    padding: 0;
    color:set-text-color($primary_color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

h1,
h2,
h3{
    margin:0;
    font-weight: $font_weight;

    &.lg-heading{
        font-size:$size_heading;
    }

    &.sm-heading{
        margin-bottom: $small_heading;
        padding:0.2rem 1rem;
        background:rgba(0,0,0,0.1);
    }
    
}

a{
    color:set-text-color($primary_color);
    text-decoration: none;
}

.header{
    position:fixed;
    z-index: $header_z_index;
    width: 100%;
}

.text-secondary {
    color:$secondary_color;
}

main{
    padding:4rem;
    height: calc(100% - 60px);
    .icons{
        margin-top:$main_icons_margin;
        a{
            padding:$main_icons_link_padding;
            &:hover{
                color:$secondary_color;
                @include easeOut();
            }
        }
    }

    &#home{
        overflow: hidden;

        h1{
            margin-top: 20vh;
        }
    }
}

.about-info{
    display: grid;
    grid-template-areas: 
    'bioimage bio bio'
    'job1 job2 job3';
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;


    .bio-image{
        grid-area: bioimage;
        margin: auto;
        border-radius: 50%;
        border:3px solid $secondary_color;
    }
    
    .bio{
        grid-area: bio;
        font-size: 1.5rem;
    }
    
    .job-1{
        grid-area: job1;
    }
    
    .job-2{
        grid-area: job2;
    }
    
    .job-3{
        grid-area: job3;
    }
    
    .job{
        background: lighten($primary_color, 5);
        padding: 0.5rem;
        border-bottom: 2px solid $secondary_color;
    }
}

.projects{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.7rem;
    img{
        width: 100%;
        border: 3px solid #fff;
        &:hover{
            opacity: 0.5;
            border-color: $secondary_color;
            @include easeOut;
        }
    }
}

//button styles

.btn {
    display: block;
    padding: 0.5rem 1rem;
    margin-bottom: 0.3rem;
    border:0;
    &:hover{
        background: $secondary_color;
        color: set-text-color($secondary_color);
    }
}

.btn-dark{
    @extend .btn;
    background: darken($primary_color, 50);
    color: #fff;
}
.btn-light{
    @extend .btn;
    background: lighten($primary_color, 50);
    color:#333;
}


#main-footer{
    text-align: center;
    padding: 0.5rem;
    height: 60px;
    background: darken($primary_color, 10);
    position: fixed;
    bottom: 0;
    width: 100%;
}

@import 'mobile';